/* services-detail-container {
  text-align: center;
}
services-detail-container img {
  height: 50px;
}

services-detail-containerr h5 {
  margin: 10px 0;
  color: #3a4256;
}

services-detail-container small {
  color: #b8a7a7;
} */
